In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("D:/One Drive/OneDrive - University of Bristol/Bristol Data Science/Project/Data/Weather/cleaned_data_weather.csv")

In [3]:
df.head

<bound method NDFrame.head of            date  cloud_cover  sunshine  global_radiation  max_temp  mean_temp  \
0      19920529          8.0       2.5             153.0      20.7       17.6
1      19931012          8.0       2.5              72.0      14.7       14.0
2      19871009          8.0       0.2              41.0       9.4       10.4
3      20150826          6.0       3.4             140.0      19.6       17.0
4      19920922          8.0       0.1              48.0      16.0       15.8
...         ...          ...       ...               ...       ...        ...
15336  20201224          2.0       1.3              32.0       6.1        6.1
15337  20201225          6.0       3.5              40.0       4.6        2.6
15338  20201229          7.0       0.0              21.0       4.1        2.6
15339  20201230          6.0       0.4              22.0       5.6        2.7
15340  20201231          7.0       1.3              34.0       1.5       -0.8

       min_temp  precipitation  pressure  snow_depth
0          15.1           61.8    100840         0.0
1          11.2           59.4     99170         0.0
2           6.2           53.1     99920         0.0
3          14.1           51.6    100420         0.0
4          14.2           45.8    100620         0.0
...         ...            ...       ...         ...
15336       6.1            0.0    101830         0.0
15337       0.7            0.0    103100         0.0
15338       1.1            0.0     98830         0.0
15339      -0.1            0.0    100200         0.0
15340      -3.1            0.0    100500         0.0

[15341 rows x 10 columns]>

In [4]:
df_original_data = df

In [5]:
df['next_1_day_mean_temp'] = df_original_data['mean_temp'].shift(-1)
df['next_2_day_mean_temp'] = df_original_data['mean_temp'].shift(-2)
df['next_3_day_mean_temp'] = df_original_data['mean_temp'].shift(-3)

In [6]:
df.dropna(inplace=True)

In [7]:
df.head()

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth,next_1_day_mean_temp,next_2_day_mean_temp,next_3_day_mean_temp
0,19920529,8.0,2.5,153.0,20.7,17.6,15.1,61.8,100840,0.0,14.0,10.4,17.0
1,19931012,8.0,2.5,72.0,14.7,14.0,11.2,59.4,99170,0.0,10.4,17.0,15.8
2,19871009,8.0,0.2,41.0,9.4,10.4,6.2,53.1,99920,0.0,17.0,15.8,16.5
3,20150826,6.0,3.4,140.0,19.6,17.0,14.1,51.6,100420,0.0,15.8,16.5,18.8
4,19920922,8.0,0.1,48.0,16.0,15.8,14.2,45.8,100620,0.0,16.5,18.8,20.6

#### cloud_cover processing

In [8]:
df['cloud_cover'].value_counts()

7.0    3191
6.0    3014
5.0    2330
8.0    1934
4.0    1835
3.0    1163
2.0     865
1.0     609
0.0     381
5.8       3
5.4       2
7.4       2
6.8       2
9.0       2
6.2       1
5.6       1
6.6       1
4.8       1
7.2       1
Name: cloud_cover, dtype: int64

In [9]:
condition = (df['cloud_cover'] % 1 != 0) | (df['cloud_cover'] > 8.0)

# 从DataFrame中去除满足条件的行
df = df[~condition]

In [10]:
df['cloud_cover'].value_counts()

7.0    3191
6.0    3014
5.0    2330
8.0    1934
4.0    1835
3.0    1163
2.0     865
1.0     609
0.0     381
Name: cloud_cover, dtype: int64

#### change the sunshine into hours

In [11]:
df['sunshine'] = df['sunshine'] * 60

C:\Users\Administrator\AppData\Local\Temp\ipykernel_3816\4129770657.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sunshine'] = df['sunshine'] * 60

In [12]:
df.head()

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth,next_1_day_mean_temp,next_2_day_mean_temp,next_3_day_mean_temp
0,19920529,8.0,150.0,153.0,20.7,17.6,15.1,61.8,100840,0.0,14.0,10.4,17.0
1,19931012,8.0,150.0,72.0,14.7,14.0,11.2,59.4,99170,0.0,10.4,17.0,15.8
2,19871009,8.0,12.0,41.0,9.4,10.4,6.2,53.1,99920,0.0,17.0,15.8,16.5
3,20150826,6.0,204.0,140.0,19.6,17.0,14.1,51.6,100420,0.0,15.8,16.5,18.8
4,19920922,8.0,6.0,48.0,16.0,15.8,14.2,45.8,100620,0.0,16.5,18.8,20.6

#### change snow depth into a category value

In [13]:
df['snow_depth'].value_counts()

0.0     15180
1.0        49
2.0        24
3.0        16
4.0        16
5.0         7
6.0         5
8.0         4
7.0         4
11.0        3
12.0        2
0.4         2
10.0        2
16.0        1
20.0        1
9.0         1
0.8         1
22.0        1
18.0        1
15.0        1
13.0        1
Name: snow_depth, dtype: int64

In [14]:
df.loc[df['snow_depth'] > 0, 'snow_depth'] = 1.0

In [15]:
df['snow_depth'].value_counts()

0.0    15180
1.0      142
Name: snow_depth, dtype: int64

#### change the precipitation into category value

In [16]:
df['precipitation'].value_counts()

0.0     7955
0.2     1017
0.4      460
0.1      322
0.6      302
        ...
23.6       1
23.5       1
23.4       1
23.1       1
61.8       1
Name: precipitation, Length: 266, dtype: int64

In [17]:
bins = [-float('inf'), 0.1, 2.5, 10, 50, float('inf')]
labels = [0, 1, 2, 3, 4]

df['precipitation'] = pd.cut(df['precipitation'], bins=bins, labels=labels, right=False)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_3816\1477534085.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['precipitation'] = pd.cut(df['precipitation'], bins=bins, labels=labels, right=False)

In [18]:
df['precipitation'].value_counts()

0    7955
1    4342
2    2427
3     594
4       4
Name: precipitation, dtype: int64

#### everything is ready

In [19]:
df.head()

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth,next_1_day_mean_temp,next_2_day_mean_temp,next_3_day_mean_temp
0,19920529,8.0,150.0,153.0,20.7,17.6,15.1,4,100840,0.0,14.0,10.4,17.0
1,19931012,8.0,150.0,72.0,14.7,14.0,11.2,4,99170,0.0,10.4,17.0,15.8
2,19871009,8.0,12.0,41.0,9.4,10.4,6.2,4,99920,0.0,17.0,15.8,16.5
3,20150826,6.0,204.0,140.0,19.6,17.0,14.1,4,100420,0.0,15.8,16.5,18.8
4,19920922,8.0,6.0,48.0,16.0,15.8,14.2,3,100620,0.0,16.5,18.8,20.6

#### one-hot encoding

In [20]:
df_encoded = pd.get_dummies(df['cloud_cover'], prefix='cloud_cover')

df = pd.concat([df, df_encoded], axis=1)

df.drop('cloud_cover', axis=1, inplace=True)

In [21]:
df.head()

,date,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth,next_1_day_mean_temp,...,next_3_day_mean_temp,cloud_cover_0.0,cloud_cover_1.0,cloud_cover_2.0,cloud_cover_3.0,cloud_cover_4.0,cloud_cover_5.0,cloud_cover_6.0,cloud_cover_7.0,cloud_cover_8.0
0,19920529,150.0,153.0,20.7,17.6,15.1,4,100840,0.0,14.0,...,17.0,0,0,0,0,0,0,0,0,1
1,19931012,150.0,72.0,14.7,14.0,11.2,4,99170,0.0,10.4,...,15.8,0,0,0,0,0,0,0,0,1
2,19871009,12.0,41.0,9.4,10.4,6.2,4,99920,0.0,17.0,...,16.5,0,0,0,0,0,0,0,0,1
3,20150826,204.0,140.0,19.6,17.0,14.1,4,100420,0.0,15.8,...,18.8,0,0,0,0,0,0,1,0,0
4,19920922,6.0,48.0,16.0,15.8,14.2,3,100620,0.0,16.5,...,20.6,0,0,0,0,0,0,0,0,1

In [22]:
df_encoded = pd.get_dummies(df['precipitation'], prefix='precipitation')

df = pd.concat([df, df_encoded], axis=1)

df.drop('precipitation', axis=1, inplace=True)

In [23]:
df.head()

,date,sunshine,global_radiation,max_temp,mean_temp,min_temp,pressure,snow_depth,next_1_day_mean_temp,next_2_day_mean_temp,...,cloud_cover_4.0,cloud_cover_5.0,cloud_cover_6.0,cloud_cover_7.0,cloud_cover_8.0,precipitation_0,precipitation_1,precipitation_2,precipitation_3,precipitation_4
0,19920529,150.0,153.0,20.7,17.6,15.1,100840,0.0,14.0,10.4,...,0,0,0,0,1,0,0,0,0,1
1,19931012,150.0,72.0,14.7,14.0,11.2,99170,0.0,10.4,17.0,...,0,0,0,0,1,0,0,0,0,1
2,19871009,12.0,41.0,9.4,10.4,6.2,99920,0.0,17.0,15.8,...,0,0,0,0,1,0,0,0,0,1
3,20150826,204.0,140.0,19.6,17.0,14.1,100420,0.0,15.8,16.5,...,0,0,1,0,0,0,0,0,0,1
4,19920922,6.0,48.0,16.0,15.8,14.2,100620,0.0,16.5,18.8,...,0,0,0,0,1,0,0,0,1,0

In [24]:
df_encoded = pd.get_dummies(df['snow_depth'], prefix='snow_depth')

df = pd.concat([df, df_encoded], axis=1)

df.drop('snow_depth', axis=1, inplace=True)

In [25]:
df.head()

,date,sunshine,global_radiation,max_temp,mean_temp,min_temp,pressure,next_1_day_mean_temp,next_2_day_mean_temp,next_3_day_mean_temp,...,cloud_cover_6.0,cloud_cover_7.0,cloud_cover_8.0,precipitation_0,precipitation_1,precipitation_2,precipitation_3,precipitation_4,snow_depth_0.0,snow_depth_1.0
0,19920529,150.0,153.0,20.7,17.6,15.1,100840,14.0,10.4,17.0,...,0,0,1,0,0,0,0,1,1,0
1,19931012,150.0,72.0,14.7,14.0,11.2,99170,10.4,17.0,15.8,...,0,0,1,0,0,0,0,1,1,0
2,19871009,12.0,41.0,9.4,10.4,6.2,99920,17.0,15.8,16.5,...,0,0,1,0,0,0,0,1,1,0
3,20150826,204.0,140.0,19.6,17.0,14.1,100420,15.8,16.5,18.8,...,1,0,0,0,0,0,0,1,1,0
4,19920922,6.0,48.0,16.0,15.8,14.2,100620,16.5,18.8,20.6,...,0,0,1,0,0,0,1,0,1,0

#### delete the date

In [26]:
del df['date']

In [27]:
df.head()

,sunshine,global_radiation,max_temp,mean_temp,min_temp,pressure,next_1_day_mean_temp,next_2_day_mean_temp,next_3_day_mean_temp,cloud_cover_0.0,...,cloud_cover_6.0,cloud_cover_7.0,cloud_cover_8.0,precipitation_0,precipitation_1,precipitation_2,precipitation_3,precipitation_4,snow_depth_0.0,snow_depth_1.0
0,150.0,153.0,20.7,17.6,15.1,100840,14.0,10.4,17.0,0,...,0,0,1,0,0,0,0,1,1,0
1,150.0,72.0,14.7,14.0,11.2,99170,10.4,17.0,15.8,0,...,0,0,1,0,0,0,0,1,1,0
2,12.0,41.0,9.4,10.4,6.2,99920,17.0,15.8,16.5,0,...,0,0,1,0,0,0,0,1,1,0
3,204.0,140.0,19.6,17.0,14.1,100420,15.8,16.5,18.8,0,...,1,0,0,0,0,0,0,1,1,0
4,6.0,48.0,16.0,15.8,14.2,100620,16.5,18.8,20.6,0,...,0,0,1,0,0,0,1,0,1,0

In [28]:
from sklearn.preprocessing import MinMaxScaler

features_to_normalize = ['sunshine', 'global_radiation', 'max_temp', 'mean_temp', 'min_temp', 'pressure']

scaler = MinMaxScaler()


df[features_to_normalize] = scaler.fit_transform(df[features_to_normalize])

In [29]:
df.head()

,sunshine,global_radiation,max_temp,mean_temp,min_temp,pressure,next_1_day_mean_temp,next_2_day_mean_temp,next_3_day_mean_temp,cloud_cover_0.0,...,cloud_cover_6.0,cloud_cover_7.0,cloud_cover_8.0,precipitation_0,precipitation_1,precipitation_2,precipitation_3,precipitation_4,snow_depth_0.0,snow_depth_1.0
0,0.15625,0.368020,0.609977,0.688525,0.788856,0.550790,14.0,10.4,17.0,0,...,0,0,1,0,0,0,0,1,1,0
1,0.15625,0.162437,0.473923,0.590164,0.674487,0.362302,10.4,17.0,15.8,0,...,0,0,1,0,0,0,0,1,1,0
2,0.01250,0.083756,0.353741,0.491803,0.527859,0.446953,17.0,15.8,16.5,0,...,0,0,1,0,0,0,0,1,1,0
3,0.21250,0.335025,0.585034,0.672131,0.759531,0.503386,15.8,16.5,18.8,0,...,1,0,0,0,0,0,0,1,1,0
4,0.00625,0.101523,0.503401,0.639344,0.762463,0.525959,16.5,18.8,20.6,0,...,0,0,1,0,0,0,1,0,1,0

#### check if any INF or NAN

In [30]:
inf_check = np.isinf(df)
print(inf_check.any())

sunshine                False
global_radiation        False
max_temp                False
mean_temp               False
min_temp                False
pressure                False
next_1_day_mean_temp    False
next_2_day_mean_temp    False
next_3_day_mean_temp    False
cloud_cover_0.0         False
cloud_cover_1.0         False
cloud_cover_2.0         False
cloud_cover_3.0         False
cloud_cover_4.0         False
cloud_cover_5.0         False
cloud_cover_6.0         False
cloud_cover_7.0         False
cloud_cover_8.0         False
precipitation_0         False
precipitation_1         False
precipitation_2         False
precipitation_3         False
precipitation_4         False
snow_depth_0.0          False
snow_depth_1.0          False
dtype: bool

In [31]:
inf_check = np.isnan(df)
print(inf_check.any())

sunshine                False
global_radiation        False
max_temp                False
mean_temp               False
min_temp                False
pressure                False
next_1_day_mean_temp    False
next_2_day_mean_temp    False
next_3_day_mean_temp    False
cloud_cover_0.0         False
cloud_cover_1.0         False
cloud_cover_2.0         False
cloud_cover_3.0         False
cloud_cover_4.0         False
cloud_cover_5.0         False
cloud_cover_6.0         False
cloud_cover_7.0         False
cloud_cover_8.0         False
precipitation_0         False
precipitation_1         False
precipitation_2         False
precipitation_3         False
precipitation_4         False
snow_depth_0.0          False
snow_depth_1.0          False
dtype: bool

In [32]:
cols_to_move = ['next_1_day_mean_temp','next_2_day_mean_temp','next_3_day_mean_temp']
new_order = [col for col in df.columns if col not in cols_to_move] + cols_to_move
df = df.reindex(columns=new_order)

In [33]:
X = df.drop(['next_1_day_mean_temp','next_2_day_mean_temp','next_3_day_mean_temp'], axis=1)
y = df[['next_1_day_mean_temp', 'next_2_day_mean_temp', 'next_3_day_mean_temp']]

In [34]:
X.shape

(15322, 22)

In [35]:
# 假设您的 DataFrame 名为 df，形状为 (100, 22)

# 将数据划分为通道
num_channels = 10  # 每个通道包含的行数
num_samples = X.shape[0] - num_channels + 1
channels = []
for i in range(num_samples):
    channel = X.iloc[i:i+num_channels, :]
    channels.append(channel)

# 重新组织形状为 (x, x, x)
x = 10  # 每个通道中的行数
reshaped_X = np.array(channels).reshape(num_samples, x, X.shape[1])

# reshaped_df 的形状为 (num_samples, x, num_channels, num_features)

In [36]:
reshaped_y = y[-num_samples:]

In [37]:
reshaped_X.shape

(15313, 10, 22)

In [38]:
reshaped_y.shape

(15313, 3)

In [39]:
# 转化张量

import torch
import torch.nn as nn

input_data = torch.tensor(reshaped_X, dtype=torch.float32)

reshaped_y = reshaped_y.values
target_data = torch.tensor(reshaped_y, dtype=torch.float32)

In [41]:
import torch
import torch.nn as nn
import torch.optim as optim
from scipy.stats import pearsonr

# 创建一维输入数据
#input_data = torch.randn(12000, 10, 22)  # 输入形状为
#target_data = torch.randn(12000, 3)  # 目标连续值数据，形状为 (120, 3)

# 定义一维卷积神经网络模型
class ConvNet(nn.Module):
    def __init__(self):
        super(ConvNet, self).__init__()
        self.conv1 = nn.Conv1d(22, 16, kernel_size=3, stride=1, padding=1)
        self.relu = nn.ReLU()
        self.maxpool = nn.MaxPool1d(kernel_size=2, stride=2)
        self.fc = nn.Linear(16 * 5, 3)  # 三个输出节点

    def forward(self, x):
        out = x.permute(0, 2, 1)  # 调整通道维度的顺序
        out = self.conv1(out)
        out = self.relu(out)
        out = self.maxpool(out)
        #print('hhhhhhh:',out.size(0))
        out = out.view(out.size(0), -1)
        out = self.fc(out)
        return out

# 创建模型实例
model = ConvNet()

# 定义损失函数和优化器
criterion = nn.MSELoss()  # 使用均方误差损失函数
optimizer = optim.Adam(model.parameters(), lr=0.001)

# 训练模型
num_epochs = 100
batch_size = 32
total_samples = input_data.shape[0]

for epoch in range(num_epochs):
    optimizer.zero_grad()
    
    # 随机选择一个批次的数据
    indices = torch.randperm(total_samples)[:batch_size]
    input_data_batch = input_data[indices]
    target_data_batch = target_data[indices]
    
    # 前向传播
    outputs = model(input_data_batch)
    
    # 计算损失
    loss = criterion(outputs, target_data_batch)
    
    # 反向传播和优化
    loss.backward()
    optimizer.step()
    
    # 打印训练过程中的损失
    print(f'Epoch [{epoch+1}/{num_epochs}], Loss: {loss.item()}')

# 进行预测并计算评估指标
with torch.no_grad():
    predictions = model(input_data)
    
    test_mse = nn.MSELoss()(predictions, target_data)
    
    test_mae = nn.L1Loss()(predictions, target_data)
    
    test_rmse = torch.sqrt(test_mse)
    
    absolute_errors = torch.abs(predictions - target_data)
    test_mdae = torch.median(absolute_errors)
    
    percentage_errors = absolute_errors / target_data
    percentage_errors = percentage_errors[~torch.isinf(percentage_errors) & ~torch.isnan(percentage_errors)]
    test_mape = torch.mean(torch.abs(percentage_errors)) * 1000
    
    squared_percentage_errors = torch.pow(percentage_errors * 100, 2)
    squared_percentage_errors = squared_percentage_errors[~torch.isinf(squared_percentage_errors)]
    mean_squared_percentage_error = torch.mean(squared_percentage_errors)
    test_rmspe = torch.sqrt(mean_squared_percentage_error)
    
    batch_size = 100
    num_batches = predictions.shape[0] // batch_size
    pearson_coeffs = []
    for i in range(num_batches):
        start_idx = i * batch_size
        end_idx = (i + 1) * batch_size

        predictions_batch = predictions[start_idx:end_idx].numpy().flatten()
        target_data_batch = target_data[start_idx:end_idx].numpy().flatten()
        pearson_coefficients, _ = pearsonr(predictions_batch, target_data_batch)
        pearson_coeffs.append(pearson_coefficients)
    pearson_coefficient = np.mean(pearson_coeffs)
    
    def index_of_agreement(predictions, observations):
        numerator = torch.sum(torch.square(observations - predictions))
        denominator = torch.sum(torch.square(torch.abs(predictions - torch.mean(observations)) + torch.abs(observations - torch.mean(observations))))
        ioa = 1 - (numerator / denominator)
        return ioa
    
    ioa = index_of_agreement(predictions, target_data)
    
    print(f'MSE: {test_mse.item():.4f}')
    print(f'RMSE: {test_rmse.item():.4f}')
    print(f'MAE: {test_mae.item():.4f}')
    print(f'MdAE: {test_mdae.item():.4f}')
    print(f'MAPE: {test_mape.item():.4f}')
    print(f'RMSPE: {test_rmspe.item():.4f}')
    print(f'Pearson Coefficient: {pearson_coefficient}')
    print(f'Index of Agreement (IoA): {ioa:.4f}')

hhhhhhh: 32
Epoch [1/100], Loss: 143.11964416503906
hhhhhhh: 32
Epoch [2/100], Loss: 138.52662658691406
hhhhhhh: 32
Epoch [3/100], Loss: 183.3849639892578
hhhhhhh: 32
Epoch [4/100], Loss: 197.11903381347656
hhhhhhh: 32
Epoch [5/100], Loss: 165.3251190185547
hhhhhhh: 32
Epoch [6/100], Loss: 191.39556884765625
hhhhhhh: 32
Epoch [7/100], Loss: 159.95713806152344
hhhhhhh: 32
Epoch [8/100], Loss: 150.0487823486328
hhhhhhh: 32
Epoch [9/100], Loss: 173.3937530517578
hhhhhhh: 32
Epoch [10/100], Loss: 149.5058135986328
hhhhhhh: 32
Epoch [11/100], Loss: 170.8388671875
hhhhhhh: 32
Epoch [12/100], Loss: 113.87606048583984
hhhhhhh: 32
Epoch [13/100], Loss: 135.2947235107422
hhhhhhh: 32
Epoch [14/100], Loss: 140.24859619140625
hhhhhhh: 32
Epoch [15/100], Loss: 139.8194122314453
hhhhhhh: 32
Epoch [16/100], Loss: 105.91635131835938
hhhhhhh: 32
Epoch [17/100], Loss: 154.8968505859375
hhhhhhh: 32
Epoch [18/100], Loss: 128.71405029296875
hhhhhhh: 32
Epoch [19/100], Loss: 140.4541778564453
hhhhhhh: 32
Epoch [20/100], Loss: 140.160400390625
hhhhhhh: 32
Epoch [21/100], Loss: 129.74708557128906
hhhhhhh: 32
Epoch [22/100], Loss: 141.36289978027344
hhhhhhh: 32
Epoch [23/100], Loss: 144.50218200683594
hhhhhhh: 32
Epoch [24/100], Loss: 150.1620635986328
hhhhhhh: 32
Epoch [25/100], Loss: 156.4344940185547
hhhhhhh: 32
Epoch [26/100], Loss: 124.98568725585938
hhhhhhh: 32
Epoch [27/100], Loss: 120.241943359375
hhhhhhh: 32
Epoch [28/100], Loss: 102.94857025146484
hhhhhhh: 32
Epoch [29/100], Loss: 144.05665588378906
hhhhhhh: 32
Epoch [30/100], Loss: 124.9886703491211
hhhhhhh: 32
Epoch [31/100], Loss: 121.48153686523438
hhhhhhh: 32
Epoch [32/100], Loss: 102.66964721679688
hhhhhhh: 32
Epoch [33/100], Loss: 142.834228515625
hhhhhhh: 32
Epoch [34/100], Loss: 117.7845230102539
hhhhhhh: 32
Epoch [35/100], Loss: 143.93136596679688
hhhhhhh: 32
Epoch [36/100], Loss: 139.8710479736328
hhhhhhh: 32
Epoch [37/100], Loss: 85.04808807373047
hhhhhhh: 32
Epoch [38/100], Loss: 115.4751968383789
hhhhhhh: 32
Epoch [39/100], Loss: 118.3117446899414
hhhhhhh: 32
Epoch [40/100], Loss: 109.4505844116211
hhhhhhh: 32
Epoch [41/100], Loss: 102.69989776611328
hhhhhhh: 32
Epoch [42/100], Loss: 81.35174560546875
hhhhhhh: 32
Epoch [43/100], Loss: 110.96719360351562
hhhhhhh: 32
Epoch [44/100], Loss: 121.8682861328125
hhhhhhh: 32
Epoch [45/100], Loss: 72.86919403076172
hhhhhhh: 32
Epoch [46/100], Loss: 80.61935424804688
hhhhhhh: 32
Epoch [47/100], Loss: 83.60834503173828
hhhhhhh: 32
Epoch [48/100], Loss: 57.64352035522461
hhhhhhh: 32
Epoch [49/100], Loss: 83.7330322265625
hhhhhhh: 32
Epoch [50/100], Loss: 78.47699737548828
hhhhhhh: 32
Epoch [51/100], Loss: 63.79985046386719
hhhhhhh: 32
Epoch [52/100], Loss: 91.86227416992188
hhhhhhh: 32
Epoch [53/100], Loss: 75.31350708007812
hhhhhhh: 32
Epoch [54/100], Loss: 61.93437576293945
hhhhhhh: 32
Epoch [55/100], Loss: 67.49745178222656
hhhhhhh: 32
Epoch [56/100], Loss: 47.72471237182617
hhhhhhh: 32
Epoch [57/100], Loss: 62.242618560791016
hhhhhhh: 32
Epoch [58/100], Loss: 65.70069122314453
hhhhhhh: 32
Epoch [59/100], Loss: 60.613525390625
hhhhhhh: 32
Epoch [60/100], Loss: 74.09347534179688
hhhhhhh: 32
Epoch [61/100], Loss: 45.79507064819336
hhhhhhh: 32
Epoch [62/100], Loss: 42.803096771240234
hhhhhhh: 32
Epoch [63/100], Loss: 71.68570709228516
hhhhhhh: 32
Epoch [64/100], Loss: 62.34226608276367
hhhhhhh: 32
Epoch [65/100], Loss: 54.91876220703125
hhhhhhh: 32
Epoch [66/100], Loss: 38.32926559448242
hhhhhhh: 32
Epoch [67/100], Loss: 45.12894821166992
hhhhhhh: 32
Epoch [68/100], Loss: 36.939395904541016
hhhhhhh: 32
Epoch [69/100], Loss: 48.921966552734375
hhhhhhh: 32
Epoch [70/100], Loss: 48.62773132324219
hhhhhhh: 32
Epoch [71/100], Loss: 53.54542541503906
hhhhhhh: 32
Epoch [72/100], Loss: 31.011171340942383
hhhhhhh: 32
Epoch [73/100], Loss: 32.08022689819336
hhhhhhh: 32
Epoch [74/100], Loss: 40.95016860961914
hhhhhhh: 32
Epoch [75/100], Loss: 32.622955322265625
hhhhhhh: 32
Epoch [76/100], Loss: 30.907119750976562
hhhhhhh: 32
Epoch [77/100], Loss: 27.119775772094727
hhhhhhh: 32
Epoch [78/100], Loss: 24.14421272277832
hhhhhhh: 32
Epoch [79/100], Loss: 32.106510162353516
hhhhhhh: 32
Epoch [80/100], Loss: 25.902503967285156
hhhhhhh: 32
Epoch [81/100], Loss: 32.7933349609375
hhhhhhh: 32
Epoch [82/100], Loss: 27.06618309020996
hhhhhhh: 32
Epoch [83/100], Loss: 24.441736221313477
hhhhhhh: 32
Epoch [84/100], Loss: 30.761686325073242
hhhhhhh: 32
Epoch [85/100], Loss: 28.066574096679688
hhhhhhh: 32
Epoch [86/100], Loss: 24.610977172851562
hhhhhhh: 32
Epoch [87/100], Loss: 22.452484130859375
hhhhhhh: 32
Epoch [88/100], Loss: 23.20037841796875
hhhhhhh: 32
Epoch [89/100], Loss: 25.293357849121094
hhhhhhh: 32
Epoch [90/100], Loss: 22.16951560974121
hhhhhhh: 32
Epoch [91/100], Loss: 22.611783981323242
hhhhhhh: 32
Epoch [92/100], Loss: 22.188255310058594
hhhhhhh: 32
Epoch [93/100], Loss: 26.244659423828125
hhhhhhh: 32
Epoch [94/100], Loss: 25.666587829589844
hhhhhhh: 32
Epoch [95/100], Loss: 21.02933692932129
hhhhhhh: 32
Epoch [96/100], Loss: 21.94023323059082
hhhhhhh: 32
Epoch [97/100], Loss: 33.76749038696289
hhhhhhh: 32
Epoch [98/100], Loss: 20.359601974487305
hhhhhhh: 32
Epoch [99/100], Loss: 25.577987670898438
hhhhhhh: 32
Epoch [100/100], Loss: 22.47875213623047
hhhhhhh: 15313
MSE: 25.2983
RMSE: 5.0297
MAE: 4.1527
MdAE: 3.7697
MAPE: 1115.6562
RMSPE: 499.1402
Pearson Coefficient: 0.3789019649131535
Index of Agreement (IoA): 0.4615

In [ ]:
import torch
import torch.nn as nn
import torch.optim as optim

# 创建随机数据集
# 假设图像尺寸为(3, 32, 32)，共有3个通道（RGB），图像大小为32x32
# 生成100个随机图像，每个图像对应一个类别（0, 1, 2）
input_data = torch.randn(12000, 3, 32, 32)
target_data = torch.randint(0, 3, (12000,))

# 定义卷积神经网络模型
class ConvNet(nn.Module):
    def __init__(self):
        super(ConvNet, self).__init__()
        self.conv1 = nn.Conv2d(3, 16, kernel_size=3, stride=1, padding=1)
        self.relu = nn.ReLU()
        self.maxpool = nn.MaxPool2d(kernel_size=2, stride=2)
        self.fc = nn.Linear(16 * 16 * 16, 3)  # 三个类别

    def forward(self, x):
        out = self.conv1(x)
        out = self.relu(out)
        out = self.maxpool(out)
        #print('hahahaha:',out.size(0))
        out = out.view(out.size(0), -1)
        out = self.fc(out)
        return out

# 创建模型实例
model = ConvNet()

# 定义损失函数和优化器
criterion = nn.CrossEntropyLoss()
optimizer = optim.Adam(model.parameters(), lr=0.001)

# 训练模型
num_epochs = 10
batch_size = 32
total_samples = input_data.shape[0]

for epoch in range(num_epochs):
    optimizer.zero_grad()
    
    # 随机选择一个批次的数据
    indices = np.random.choice(total_samples, size=batch_size, replace=False)
    input_data_batch = input_data[indices]
    target_data_batch = target_data[indices]
    
    # Update total_samples after data selection
    total_samples = input_data_batch.shape[0]
    
    # 前向传播
    outputs = model(input_data_batch)
    
    # 计算损失
    loss = criterion(outputs, target_data_batch)
    
    # 反向传播和优化
    loss.backward()
    optimizer.step()
    
    # 打印训练过程中的损失
    print(f'Epoch [{epoch+1}/{num_epochs}], Loss: {loss.item()}')

# 进行预测
with torch.no_grad():
    predictions = model(input_data)
    _, predicted_labels = torch.max(predictions, 1)
    print("预测结果:", predicted_labels)

In [ ]:
import torch
import torch.nn as nn
import torch.optim as optim

# 创建随机数据集
# 假设图像尺寸为(3, 32, 32)，共有3个通道（RGB），图像大小为32x32
# 生成100个随机图像，每个图像对应一个类别（0, 1, 2）
input_data = torch.randn(12000, 3, 32, 32)
target_data = torch.randint(0, 3, (12000,))

# 定义卷积神经网络模型
class ConvNet(nn.Module):
    def __init__(self):
        super(ConvNet, self).__init__()
        self.conv1 = nn.Conv2d(3, 16, kernel_size=3, stride=1, padding=1)
        self.conv2 = nn.Conv2d(16, 32, kernel_size=3, stride=1, padding=1)
        self.conv3 = nn.Conv2d(32, 64, kernel_size=3, stride=1, padding=1)
        self.relu = nn.ReLU()
        self.maxpool = nn.MaxPool2d(kernel_size=2, stride=2)
        self.fc = nn.Linear(64 * 4 * 4, 3)  # 三个类别

    def forward(self, x):
        out = self.conv1(x)
        out = self.relu(out)
        out = self.maxpool(out)

        out = self.conv2(out)
        out = self.relu(out)
        out = self.maxpool(out)

        out = self.conv3(out)
        out = self.relu(out)
        out = self.maxpool(out)
        
        print('ahahhaha:',out.size(0))
        out = out.view(out.size(0), -1)
        out = self.fc(out)
        return out

# 创建模型实例
model = ConvNet()

# 定义损失函数和优化器
criterion = nn.CrossEntropyLoss()
optimizer = optim.Adam(model.parameters(), lr=0.001)

# 训练模型
num_epochs = 10
batch_size = 32
total_samples = input_data.shape[0]

for epoch in range(num_epochs):
    optimizer.zero_grad()
    
    # 随机选择一个批次的数据
    indices = np.random.choice(total_samples, size=batch_size, replace=False)
    input_data_batch = input_data[indices]
    target_data_batch = target_data[indices]
    
    # Update total_samples after data selection
    total_samples = input_data_batch.shape[0]
    
    # 前向传播
    outputs = model(input_data_batch)
    
    # 计算损失
    loss = criterion(outputs, target_data_batch)
    
    # 反向传播和优化
    loss.backward()
    optimizer.step()
    
    # 打印训练过程中的损失
    print(f'Epoch [{epoch+1}/{num_epochs}], Loss: {loss.item()}')

# 进行预测
with torch.no_grad():
    predictions = model(input_data)
    _, predicted_labels = torch.max(predictions, 1)
    print("预测结果:", predicted_labels)