In [576]:
import pandas as pd
import numpy as np

In [577]:
df = pd.read_csv("D:/One Drive/OneDrive - University of Bristol/Bristol Data Science/Project/Data/Weather/cleaned_data_weather.csv")

In [578]:
df.head

<bound method NDFrame.head of            date  cloud_cover  sunshine  global_radiation  max_temp  mean_temp  \
0      19790101          2.0       7.0              52.0       2.3       -4.1
1      19790102          6.0       1.7              27.0       1.6       -2.6
2      19790103          5.0       0.0              13.0       1.3       -2.8
3      19790104          8.0       0.0              13.0      -0.3       -2.6
4      19790105          6.0       2.0              29.0       5.6       -0.8
...         ...          ...       ...               ...       ...        ...
15076  20201224          2.0       1.3              32.0       6.1        6.1
15077  20201225          6.0       3.5              40.0       4.6        2.6
15078  20201226          5.8       2.1              38.0      10.0        4.9
15079  20201230          6.0       0.4              22.0       5.6        2.7
15080  20201231          7.0       1.3              34.0       1.5       -0.8

       min_temp  precipitation  pressure  snow_depth
0          -7.5            0.4  101900.0         9.0
1          -7.5            0.0  102530.0         8.0
2          -7.2            0.0  102050.0         4.0
3          -6.5            0.0  100840.0         2.0
4          -1.4            0.0  102250.0         1.0
...         ...            ...       ...         ...
15076       6.1            0.0  101830.0         0.0
15077       0.7            0.0  103100.0         0.0
15078      -0.1           12.0  101960.0         0.0
15079      -0.1            0.0  100200.0         0.0
15080      -3.1            0.0  100500.0         0.0

[15081 rows x 10 columns]>

In [579]:
df_original_data = df

In [580]:
df['next_1_day_mean_temp'] = df_original_data['mean_temp'].shift(-1)
df['next_2_day_mean_temp'] = df_original_data['mean_temp'].shift(-2)
df['next_3_day_mean_temp'] = df_original_data['mean_temp'].shift(-3)

In [581]:
df.dropna(inplace=True)

In [582]:
df.head()

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth,next_1_day_mean_temp,next_2_day_mean_temp,next_3_day_mean_temp
0,19790101,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0,-2.6,-2.8,-2.6
1,19790102,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0,-2.8,-2.6,-0.8
2,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0,-2.6,-0.8,-0.5
3,19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0,-0.8,-0.5,1.5
4,19790105,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0,-0.5,1.5,6.9

#### cloud_cover processing

In [583]:
df['cloud_cover'].value_counts()

7.0    3116
6.0    2952
5.0    2292
8.0    1903
4.0    1815
3.0    1148
2.0     860
1.0     603
0.0     375
5.8       2
6.8       2
5.4       2
7.4       2
9.0       2
5.6       1
6.2       1
6.6       1
7.2       1
Name: cloud_cover, dtype: int64

In [584]:
condition = (df['cloud_cover'] % 1 != 0) | (df['cloud_cover'] > 8.0)

# 从DataFrame中去除满足条件的行
df = df[~condition]

In [585]:
df['cloud_cover'].value_counts()

7.0    3116
6.0    2952
5.0    2292
8.0    1903
4.0    1815
3.0    1148
2.0     860
1.0     603
0.0     375
Name: cloud_cover, dtype: int64

#### change the sunshine into hours

In [586]:
df['sunshine'] = df['sunshine'] * 60

C:\Users\Administrator\AppData\Local\Temp\ipykernel_21676\4129770657.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sunshine'] = df['sunshine'] * 60

In [587]:
df.head()

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth,next_1_day_mean_temp,next_2_day_mean_temp,next_3_day_mean_temp
0,19790101,2.0,420.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0,-2.6,-2.8,-2.6
1,19790102,6.0,102.0,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0,-2.8,-2.6,-0.8
2,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0,-2.6,-0.8,-0.5
3,19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0,-0.8,-0.5,1.5
4,19790105,6.0,120.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0,-0.5,1.5,6.9

#### change snow depth into a category value

In [588]:
df['snow_depth'].value_counts()

0.0     14933
1.0        45
2.0        23
4.0        15
3.0        15
5.0         6
6.0         4
7.0         4
8.0         4
10.0        2
0.4         2
12.0        2
11.0        2
9.0         1
18.0        1
13.0        1
15.0        1
16.0        1
22.0        1
0.8         1
Name: snow_depth, dtype: int64

In [589]:
df.loc[df['snow_depth'] > 0, 'snow_depth'] = 1.0

In [590]:
df['snow_depth'].value_counts()

0.0    14933
1.0      131
Name: snow_depth, dtype: int64

#### change the precipitation into category value

In [591]:
df['precipitation'].value_counts()

0.00     7907
0.20     1005
0.40      452
0.10      313
0.60      297
         ...
53.10       1
18.70       1
25.40       1
20.00       1
0.46        1
Name: precipitation, Length: 261, dtype: int64

In [592]:
bins = [-float('inf'), 0.1, 2.5, 10, 50, float('inf')]
labels = [0, 1, 2, 3, 4]

df['precipitation'] = pd.cut(df['precipitation'], bins=bins, labels=labels, right=False)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_21676\1477534085.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['precipitation'] = pd.cut(df['precipitation'], bins=bins, labels=labels, right=False)

In [593]:
df['precipitation'].value_counts()

0    7907
1    4251
2    2335
3     567
4       4
Name: precipitation, dtype: int64

#### everything is ready

In [594]:
df.head()

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth,next_1_day_mean_temp,next_2_day_mean_temp,next_3_day_mean_temp
0,19790101,2.0,420.0,52.0,2.3,-4.1,-7.5,1,101900.0,1.0,-2.6,-2.8,-2.6
1,19790102,6.0,102.0,27.0,1.6,-2.6,-7.5,0,102530.0,1.0,-2.8,-2.6,-0.8
2,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0,102050.0,1.0,-2.6,-0.8,-0.5
3,19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0,100840.0,1.0,-0.8,-0.5,1.5
4,19790105,6.0,120.0,29.0,5.6,-0.8,-1.4,0,102250.0,1.0,-0.5,1.5,6.9

#### one-hot encoding

In [595]:
df_encoded = pd.get_dummies(df['cloud_cover'], prefix='cloud_cover')

df = pd.concat([df, df_encoded], axis=1)

df.drop('cloud_cover', axis=1, inplace=True)

In [596]:
df.head()

,date,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth,next_1_day_mean_temp,...,next_3_day_mean_temp,cloud_cover_0.0,cloud_cover_1.0,cloud_cover_2.0,cloud_cover_3.0,cloud_cover_4.0,cloud_cover_5.0,cloud_cover_6.0,cloud_cover_7.0,cloud_cover_8.0
0,19790101,420.0,52.0,2.3,-4.1,-7.5,1,101900.0,1.0,-2.6,...,-2.6,0,0,1,0,0,0,0,0,0
1,19790102,102.0,27.0,1.6,-2.6,-7.5,0,102530.0,1.0,-2.8,...,-0.8,0,0,0,0,0,0,1,0,0
2,19790103,0.0,13.0,1.3,-2.8,-7.2,0,102050.0,1.0,-2.6,...,-0.5,0,0,0,0,0,1,0,0,0
3,19790104,0.0,13.0,-0.3,-2.6,-6.5,0,100840.0,1.0,-0.8,...,1.5,0,0,0,0,0,0,0,0,1
4,19790105,120.0,29.0,5.6,-0.8,-1.4,0,102250.0,1.0,-0.5,...,6.9,0,0,0,0,0,0,1,0,0

In [597]:
df_encoded = pd.get_dummies(df['precipitation'], prefix='precipitation')

df = pd.concat([df, df_encoded], axis=1)

df.drop('precipitation', axis=1, inplace=True)

In [598]:
df.head()

,date,sunshine,global_radiation,max_temp,mean_temp,min_temp,pressure,snow_depth,next_1_day_mean_temp,next_2_day_mean_temp,...,cloud_cover_4.0,cloud_cover_5.0,cloud_cover_6.0,cloud_cover_7.0,cloud_cover_8.0,precipitation_0,precipitation_1,precipitation_2,precipitation_3,precipitation_4
0,19790101,420.0,52.0,2.3,-4.1,-7.5,101900.0,1.0,-2.6,-2.8,...,0,0,0,0,0,0,1,0,0,0
1,19790102,102.0,27.0,1.6,-2.6,-7.5,102530.0,1.0,-2.8,-2.6,...,0,0,1,0,0,1,0,0,0,0
2,19790103,0.0,13.0,1.3,-2.8,-7.2,102050.0,1.0,-2.6,-0.8,...,0,1,0,0,0,1,0,0,0,0
3,19790104,0.0,13.0,-0.3,-2.6,-6.5,100840.0,1.0,-0.8,-0.5,...,0,0,0,0,1,1,0,0,0,0
4,19790105,120.0,29.0,5.6,-0.8,-1.4,102250.0,1.0,-0.5,1.5,...,0,0,1,0,0,1,0,0,0,0

In [599]:
df_encoded = pd.get_dummies(df['snow_depth'], prefix='snow_depth')

df = pd.concat([df, df_encoded], axis=1)

df.drop('snow_depth', axis=1, inplace=True)

In [600]:
df.head()

,date,sunshine,global_radiation,max_temp,mean_temp,min_temp,pressure,next_1_day_mean_temp,next_2_day_mean_temp,next_3_day_mean_temp,...,cloud_cover_6.0,cloud_cover_7.0,cloud_cover_8.0,precipitation_0,precipitation_1,precipitation_2,precipitation_3,precipitation_4,snow_depth_0.0,snow_depth_1.0
0,19790101,420.0,52.0,2.3,-4.1,-7.5,101900.0,-2.6,-2.8,-2.6,...,0,0,0,0,1,0,0,0,0,1
1,19790102,102.0,27.0,1.6,-2.6,-7.5,102530.0,-2.8,-2.6,-0.8,...,1,0,0,1,0,0,0,0,0,1
2,19790103,0.0,13.0,1.3,-2.8,-7.2,102050.0,-2.6,-0.8,-0.5,...,0,0,0,1,0,0,0,0,0,1
3,19790104,0.0,13.0,-0.3,-2.6,-6.5,100840.0,-0.8,-0.5,1.5,...,0,0,1,1,0,0,0,0,0,1
4,19790105,120.0,29.0,5.6,-0.8,-1.4,102250.0,-0.5,1.5,6.9,...,1,0,0,1,0,0,0,0,0,1

#### delete the date

In [601]:
del df['date']

In [602]:
df.head()

,sunshine,global_radiation,max_temp,mean_temp,min_temp,pressure,next_1_day_mean_temp,next_2_day_mean_temp,next_3_day_mean_temp,cloud_cover_0.0,...,cloud_cover_6.0,cloud_cover_7.0,cloud_cover_8.0,precipitation_0,precipitation_1,precipitation_2,precipitation_3,precipitation_4,snow_depth_0.0,snow_depth_1.0
0,420.0,52.0,2.3,-4.1,-7.5,101900.0,-2.6,-2.8,-2.6,0,...,0,0,0,0,1,0,0,0,0,1
1,102.0,27.0,1.6,-2.6,-7.5,102530.0,-2.8,-2.6,-0.8,0,...,1,0,0,1,0,0,0,0,0,1
2,0.0,13.0,1.3,-2.8,-7.2,102050.0,-2.6,-0.8,-0.5,0,...,0,0,0,1,0,0,0,0,0,1
3,0.0,13.0,-0.3,-2.6,-6.5,100840.0,-0.8,-0.5,1.5,0,...,0,0,1,1,0,0,0,0,0,1
4,120.0,29.0,5.6,-0.8,-1.4,102250.0,-0.5,1.5,6.9,0,...,1,0,0,1,0,0,0,0,0,1

In [603]:
from sklearn.preprocessing import MinMaxScaler

features_to_normalize = ['sunshine', 'global_radiation', 'max_temp', 'mean_temp', 'min_temp', 'pressure']

scaler = MinMaxScaler()


df[features_to_normalize] = scaler.fit_transform(df[features_to_normalize])

In [604]:
df.head()

,sunshine,global_radiation,max_temp,mean_temp,min_temp,pressure,next_1_day_mean_temp,next_2_day_mean_temp,next_3_day_mean_temp,cloud_cover_0.0,...,cloud_cover_6.0,cloud_cover_7.0,cloud_cover_8.0,precipitation_0,precipitation_1,precipitation_2,precipitation_3,precipitation_4,snow_depth_0.0,snow_depth_1.0
0,0.43750,0.107143,0.161538,0.037791,0.044872,0.562738,-2.6,-2.8,-2.6,0,...,0,0,0,0,1,0,0,0,0,1
1,0.10625,0.043367,0.143590,0.081395,0.044872,0.682510,-2.8,-2.6,-0.8,0,...,1,0,0,1,0,0,0,0,0,1
2,0.00000,0.007653,0.135897,0.075581,0.054487,0.591255,-2.6,-0.8,-0.5,0,...,0,0,0,1,0,0,0,0,0,1
3,0.00000,0.007653,0.094872,0.081395,0.076923,0.361217,-0.8,-0.5,1.5,0,...,0,0,1,1,0,0,0,0,0,1
4,0.12500,0.048469,0.246154,0.133721,0.240385,0.629278,-0.5,1.5,6.9,0,...,1,0,0,1,0,0,0,0,0,1

#### check if any INF or NAN

In [605]:
inf_check = np.isinf(df)
print(inf_check.any())

sunshine                False
global_radiation        False
max_temp                False
mean_temp               False
min_temp                False
pressure                False
next_1_day_mean_temp    False
next_2_day_mean_temp    False
next_3_day_mean_temp    False
cloud_cover_0.0         False
cloud_cover_1.0         False
cloud_cover_2.0         False
cloud_cover_3.0         False
cloud_cover_4.0         False
cloud_cover_5.0         False
cloud_cover_6.0         False
cloud_cover_7.0         False
cloud_cover_8.0         False
precipitation_0         False
precipitation_1         False
precipitation_2         False
precipitation_3         False
precipitation_4         False
snow_depth_0.0          False
snow_depth_1.0          False
dtype: bool

In [606]:
inf_check = np.isnan(df)
print(inf_check.any())

sunshine                False
global_radiation        False
max_temp                False
mean_temp               False
min_temp                False
pressure                False
next_1_day_mean_temp    False
next_2_day_mean_temp    False
next_3_day_mean_temp    False
cloud_cover_0.0         False
cloud_cover_1.0         False
cloud_cover_2.0         False
cloud_cover_3.0         False
cloud_cover_4.0         False
cloud_cover_5.0         False
cloud_cover_6.0         False
cloud_cover_7.0         False
cloud_cover_8.0         False
precipitation_0         False
precipitation_1         False
precipitation_2         False
precipitation_3         False
precipitation_4         False
snow_depth_0.0          False
snow_depth_1.0          False
dtype: bool

In [607]:
cols_to_move = ['next_1_day_mean_temp','next_2_day_mean_temp','next_3_day_mean_temp']
new_order = [col for col in df.columns if col not in cols_to_move] + cols_to_move
df = df.reindex(columns=new_order)

In [608]:
X = df.drop(['next_1_day_mean_temp','next_2_day_mean_temp','next_3_day_mean_temp'], axis=1)
y = df[['next_1_day_mean_temp', 'next_2_day_mean_temp', 'next_3_day_mean_temp']]

In [609]:
X.shape

(15064, 22)

In [610]:
# 假设您的 DataFrame 名为 df，形状为 (100, 22)

# 将数据划分为通道
num_channels = 10  # 每个通道包含的行数
num_samples = X.shape[0] - num_channels + 1
channels = []
for i in range(num_samples):
    channel = X.iloc[i:i+num_channels, :]
    channels.append(channel)

# 重新组织形状为 (x, x, x)
x = 10  # 每个通道中的行数
reshaped_X = np.array(channels).reshape(num_samples, x, X.shape[1])

# reshaped_df 的形状为 (num_samples, x, num_channels, num_features)

In [611]:
reshaped_y = y[-num_samples:]

In [612]:
reshaped_X.shape

(15055, 10, 22)

In [613]:
reshaped_y.shape

(15055, 3)

In [614]:
# 转化张量

import torch
import torch.nn as nn

input_data = torch.tensor(reshaped_X, dtype=torch.float32)

reshaped_y = reshaped_y.values
target_data = torch.tensor(reshaped_y, dtype=torch.float32)

In [615]:
import torch
import torch.nn as nn
import torch.optim as optim
import numpy as np
from scipy.stats import pearsonr

# 定义LSTM模型
class LSTMModel(nn.Module):
    def __init__(self, input_size, hidden_size, num_layers, output_size, time_step, dropout):
        super(LSTMModel, self).__init__()
        
        self.hidden_size = hidden_size
        
        self.time_step = time_step
        
        self.num_layers = num_layers
        
        # LSTM层
        self.lstm = nn.LSTM(input_size, hidden_size, num_layers, batch_first=True, dropout=dropout)

        # 整合
        self.fc1 = nn.Linear(hidden_size * self.time_step, hidden_size)
        
        # 输出层
        self.fc2 = nn.Linear(hidden_size, output_size)

    def forward(self, x):
        h0 = torch.zeros(self.num_layers, x.size(0), self.hidden_size).to(x.device)
        c0 = torch.zeros(self.num_layers, x.size(0), self.hidden_size).to(x.device)
        
        
        out, _ = self.lstm(x, (h0, c0))
        out = out[:, -self.time_step:, :]
        
        out = out.reshape(out.size(0), -1)
        
        out = self.fc1(out)
        out = self.fc2(out)
        return out

In [616]:


# 假设输入维度为10，隐藏状态维度为20，LSTM层数为2，输出维度为1
input_size = 22
hidden_size = 50
num_layers = 3
output_size = 3
time_step = 5
dropout = 0.1


# 创建LSTM模型
lstm_model = LSTMModel(input_size, hidden_size, num_layers, output_size, time_step, dropout)


# 定义损失函数和优化器
criterion = nn.MSELoss()
optimizer = optim.Adam(lstm_model.parameters(), lr=0.003)

# 生成随机输入数据和目标值（假设输入序列长度为50，批次大小为32）
#sequence_length = 10
#batch_size = 15313
#input_data = torch.randn(batch_size, sequence_length, input_size)
#target_data = torch.randn(batch_size, output_size)

# 训练模型
num_epochs = 100
for epoch in range(num_epochs):
    lstm_model.train()
    optimizer.zero_grad()

    # 前向传播
    output = lstm_model(input_data)

    # 计算损失
    loss = criterion(output, target_data)

    # 反向传播和优化
    loss.backward()
    optimizer.step()

    print(f"Epoch [{epoch+1}/{num_epochs}], Loss: {loss.item()}")

    
# 预测
with torch.no_grad():
    #test_input = torch.randn(1, sequence_length, input_size)
    predictions = lstm_model(input_data)
    # 计算MAE和MSE
    test_mse = nn.MSELoss()(predictions, target_data)
    
    print(f'MSE: {test_mse.item():.4f}')

Epoch [1/100], Loss: 168.39222717285156
Epoch [2/100], Loss: 166.41360473632812
Epoch [3/100], Loss: 164.20555114746094
Epoch [4/100], Loss: 161.06825256347656
Epoch [5/100], Loss: 156.25619506835938
Epoch [6/100], Loss: 148.69342041015625
Epoch [7/100], Loss: 136.62997436523438
Epoch [8/100], Loss: 117.46467590332031
Epoch [9/100], Loss: 89.1110610961914
Epoch [10/100], Loss: 55.67573165893555
Epoch [11/100], Loss: 34.89854049682617
Epoch [12/100], Loss: 44.650386810302734
Epoch [13/100], Loss: 56.84966278076172
Epoch [14/100], Loss: 54.2521858215332
Epoch [15/100], Loss: 44.40031051635742
Epoch [16/100], Loss: 35.67195129394531
Epoch [17/100], Loss: 31.70737648010254
Epoch [18/100], Loss: 32.10182189941406
Epoch [19/100], Loss: 34.71659469604492
Epoch [20/100], Loss: 37.55550765991211
Epoch [21/100], Loss: 39.4888801574707
Epoch [22/100], Loss: 40.0992317199707
Epoch [23/100], Loss: 39.448272705078125
Epoch [24/100], Loss: 37.881980895996094
Epoch [25/100], Loss: 35.8759880065918
Epoch [26/100], Loss: 33.95539474487305
Epoch [27/100], Loss: 32.55680847167969
Epoch [28/100], Loss: 31.961984634399414
Epoch [29/100], Loss: 32.121910095214844
Epoch [30/100], Loss: 32.70763397216797
Epoch [31/100], Loss: 33.24816131591797
Epoch [32/100], Loss: 33.33942794799805
Epoch [33/100], Loss: 32.95787811279297
Epoch [34/100], Loss: 32.24909591674805
Epoch [35/100], Loss: 31.55595588684082
Epoch [36/100], Loss: 31.06136131286621
Epoch [37/100], Loss: 30.88007926940918
Epoch [38/100], Loss: 30.890596389770508
Epoch [39/100], Loss: 30.929962158203125
Epoch [40/100], Loss: 30.838199615478516
Epoch [41/100], Loss: 30.49349021911621
Epoch [42/100], Loss: 29.858623504638672
Epoch [43/100], Loss: 28.968786239624023
Epoch [44/100], Loss: 27.95669174194336
Epoch [45/100], Loss: 26.931684494018555
Epoch [46/100], Loss: 25.889476776123047
Epoch [47/100], Loss: 24.66987419128418
Epoch [48/100], Loss: 23.01871109008789
Epoch [49/100], Loss: 20.838171005249023
Epoch [50/100], Loss: 18.411386489868164
Epoch [51/100], Loss: 16.46980857849121
Epoch [52/100], Loss: 14.872957229614258
Epoch [53/100], Loss: 12.982728958129883
Epoch [54/100], Loss: 12.249287605285645
Epoch [55/100], Loss: 13.257284164428711
Epoch [56/100], Loss: 14.004087448120117
Epoch [57/100], Loss: 13.94875717163086
Epoch [58/100], Loss: 13.571619033813477
Epoch [59/100], Loss: 12.547147750854492
Epoch [60/100], Loss: 11.229888916015625
Epoch [61/100], Loss: 10.48772144317627
Epoch [62/100], Loss: 10.246166229248047
Epoch [63/100], Loss: 10.312515258789062
Epoch [64/100], Loss: 10.552196502685547
Epoch [65/100], Loss: 10.82514762878418
Epoch [66/100], Loss: 10.86184310913086
Epoch [67/100], Loss: 10.746535301208496
Epoch [68/100], Loss: 10.592732429504395
Epoch [69/100], Loss: 10.356568336486816
Epoch [70/100], Loss: 10.023050308227539
Epoch [71/100], Loss: 9.7764253616333
Epoch [72/100], Loss: 9.644768714904785
Epoch [73/100], Loss: 9.551239013671875
Epoch [74/100], Loss: 9.54557991027832
Epoch [75/100], Loss: 9.589668273925781
Epoch [76/100], Loss: 9.618511199951172
Epoch [77/100], Loss: 9.58887767791748
Epoch [78/100], Loss: 9.534296989440918
Epoch [79/100], Loss: 9.44983196258545
Epoch [80/100], Loss: 9.345170974731445
Epoch [81/100], Loss: 9.251195907592773
Epoch [82/100], Loss: 9.209139823913574
Epoch [83/100], Loss: 9.18132495880127
Epoch [84/100], Loss: 9.166542053222656
Epoch [85/100], Loss: 9.174156188964844
Epoch [86/100], Loss: 9.171579360961914
Epoch [87/100], Loss: 9.144341468811035
Epoch [88/100], Loss: 9.111988067626953
Epoch [89/100], Loss: 9.06347942352295
Epoch [90/100], Loss: 8.996176719665527
Epoch [91/100], Loss: 8.960160255432129
Epoch [92/100], Loss: 8.912863731384277
Epoch [93/100], Loss: 8.874279022216797
Epoch [94/100], Loss: 8.866804122924805
Epoch [95/100], Loss: 8.859170913696289
Epoch [96/100], Loss: 8.821050643920898
Epoch [97/100], Loss: 8.807544708251953
Epoch [98/100], Loss: 8.782075881958008
Epoch [99/100], Loss: 8.751117706298828
Epoch [100/100], Loss: 8.712016105651855
MSE: 8.6936

In [ ]:
test_mae = nn.L1Loss()(predictions, target_data)
    
    test_rmse = torch.sqrt(test_mse)
    
    absolute_errors = torch.abs(predictions - target_data)
    test_mdae = torch.median(absolute_errors)
    
    percentage_errors = absolute_errors / target_data
    percentage_errors = percentage_errors[~torch.isinf(percentage_errors) & ~torch.isnan(percentage_errors)]
    test_mape = torch.mean(torch.abs(percentage_errors)) * 1000
    
    squared_percentage_errors = torch.pow(percentage_errors * 100, 2)
    squared_percentage_errors = squared_percentage_errors[~torch.isinf(squared_percentage_errors)]
    mean_squared_percentage_error = torch.mean(squared_percentage_errors)
    test_rmspe = torch.sqrt(mean_squared_percentage_error)
    
    batch_size = 100
    num_batches = predictions.shape[0] // batch_size
    pearson_coeffs = []
    for i in range(num_batches):
        start_idx = i * batch_size
        end_idx = (i + 1) * batch_size

        predictions_batch = predictions[start_idx:end_idx].numpy().flatten()
        target_data_batch = target_data[start_idx:end_idx].numpy().flatten()
        pearson_coefficients, _ = pearsonr(predictions_batch, target_data_batch)
        pearson_coeffs.append(pearson_coefficients)
    pearson_coefficient = np.mean(pearson_coeffs)
    
    def index_of_agreement(predictions, observations):
        numerator = torch.sum(torch.square(observations - predictions))
        denominator = torch.sum(torch.square(torch.abs(predictions - torch.mean(observations)) + torch.abs(observations - torch.mean(observations))))
        ioa = 1 - (numerator / denominator)
        return ioa
    
    ioa = index_of_agreement(predictions, target_data)
    
    print(f'MSE: {test_mse.item():.4f}')
    print(f'RMSE: {test_rmse.item():.4f}')
    print(f'MAE: {test_mae.item():.4f}')
    print(f'MdAE: {test_mdae.item():.4f}')
    print(f'MAPE: {test_mape.item():.4f}')
    print(f'RMSPE: {test_rmspe.item():.4f}')
    print(f'Pearson Coefficient: {pearson_coefficient}')
    print(f'Index of Agreement (IoA): {ioa:.4f}')