In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("D:/One Drive/OneDrive - University of Bristol/Bristol Data Science/Project/Data/Weather/cleaned_data_weather.csv")

In [3]:
df.head

<bound method NDFrame.head of            date  cloud_cover  sunshine  global_radiation  max_temp  mean_temp  \
0      19790101          2.0       7.0              52.0       2.3       -4.1
1      19790102          6.0       1.7              27.0       1.6       -2.6
2      19790103          5.0       0.0              13.0       1.3       -2.8
3      19790104          8.0       0.0              13.0      -0.3       -2.6
4      19790105          6.0       2.0              29.0       5.6       -0.8
...         ...          ...       ...               ...       ...        ...
15336  20201227          1.0       0.9              32.0       7.5        7.5
15337  20201228          7.0       3.7              38.0       3.6        1.1
15338  20201229          7.0       0.0              21.0       4.1        2.6
15339  20201230          6.0       0.4              22.0       5.6        2.7
15340  20201231          7.0       1.3              34.0       1.5       -0.8

       min_temp  precipitation  pressure  snow_depth
0          -7.5            0.4  101900.0         9.0
1          -7.5            0.0  102530.0         8.0
2          -7.2            0.0  102050.0         4.0
3          -6.5            0.0  100840.0         2.0
4          -1.4            0.0  102250.0         1.0
...         ...            ...       ...         ...
15336       7.6            2.0   98000.0         0.0
15337      -1.3            0.2   97370.0         0.0
15338       1.1            0.0   98830.0         0.0
15339      -0.1            0.0  100200.0         0.0
15340      -3.1            0.0  100500.0         0.0

[15341 rows x 10 columns]>

In [4]:
df_original_data = df

In [5]:
df['next_1_day_mean_temp'] = df_original_data['mean_temp'].shift(-1)
df['next_2_day_mean_temp'] = df_original_data['mean_temp'].shift(-2)
df['next_3_day_mean_temp'] = df_original_data['mean_temp'].shift(-3)

In [6]:
df.dropna(inplace=True)

In [7]:
df.head()

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth,next_1_day_mean_temp,next_2_day_mean_temp,next_3_day_mean_temp
0,19790101,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0,-2.6,-2.8,-2.6
1,19790102,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0,-2.8,-2.6,-0.8
2,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0,-2.6,-0.8,-0.5
3,19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0,-0.8,-0.5,1.5
4,19790105,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0,-0.5,1.5,6.9

#### cloud_cover processing

In [8]:
df['cloud_cover'].value_counts()

7.0    3191
6.0    3014
5.0    2330
8.0    1934
4.0    1835
3.0    1163
2.0     865
1.0     609
0.0     381
5.8       3
6.8       2
5.4       2
7.4       2
9.0       2
5.6       1
6.2       1
6.6       1
4.8       1
7.2       1
Name: cloud_cover, dtype: int64

In [9]:
condition = (df['cloud_cover'] % 1 != 0) | (df['cloud_cover'] > 8.0)

# 从DataFrame中去除满足条件的行
df = df[~condition]

In [10]:
df['cloud_cover'].value_counts()

7.0    3191
6.0    3014
5.0    2330
8.0    1934
4.0    1835
3.0    1163
2.0     865
1.0     609
0.0     381
Name: cloud_cover, dtype: int64

#### change the sunshine into hours

In [11]:
df['sunshine'] = df['sunshine'] * 60

C:\Users\Administrator\AppData\Local\Temp\ipykernel_14096\4129770657.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sunshine'] = df['sunshine'] * 60

In [12]:
df.head()

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth,next_1_day_mean_temp,next_2_day_mean_temp,next_3_day_mean_temp
0,19790101,2.0,420.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0,-2.6,-2.8,-2.6
1,19790102,6.0,102.0,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0,-2.8,-2.6,-0.8
2,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0,-2.6,-0.8,-0.5
3,19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0,-0.8,-0.5,1.5
4,19790105,6.0,120.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0,-0.5,1.5,6.9

#### change snow depth into a category value

In [13]:
df['snow_depth'].value_counts()

0.0     15180
1.0        49
2.0        24
4.0        16
3.0        16
5.0         7
6.0         5
7.0         4
8.0         4
11.0        3
0.4         2
12.0        2
10.0        2
9.0         1
16.0        1
13.0        1
15.0        1
18.0        1
20.0        1
22.0        1
0.8         1
Name: snow_depth, dtype: int64

In [14]:
df.loc[df['snow_depth'] > 0, 'snow_depth'] = 1.0

In [15]:
df['snow_depth'].value_counts()

0.0    15180
1.0      142
Name: snow_depth, dtype: int64

#### change the precipitation into category value

In [16]:
df['precipitation'].value_counts()

0.0     7955
0.2     1017
0.4      460
0.1      322
0.6      302
        ...
53.1       1
18.7       1
25.4       1
20.0       1
31.0       1
Name: precipitation, Length: 266, dtype: int64

In [17]:
bins = [-float('inf'), 0.1, 2.5, 10, 50, float('inf')]
labels = [0, 1, 2, 3, 4]

df['precipitation'] = pd.cut(df['precipitation'], bins=bins, labels=labels, right=False)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_14096\1477534085.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['precipitation'] = pd.cut(df['precipitation'], bins=bins, labels=labels, right=False)

In [18]:
df['precipitation'].value_counts()

0    7955
1    4342
2    2427
3     594
4       4
Name: precipitation, dtype: int64

#### everything is ready

In [19]:
df.head()

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth,next_1_day_mean_temp,next_2_day_mean_temp,next_3_day_mean_temp
0,19790101,2.0,420.0,52.0,2.3,-4.1,-7.5,1,101900.0,1.0,-2.6,-2.8,-2.6
1,19790102,6.0,102.0,27.0,1.6,-2.6,-7.5,0,102530.0,1.0,-2.8,-2.6,-0.8
2,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0,102050.0,1.0,-2.6,-0.8,-0.5
3,19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0,100840.0,1.0,-0.8,-0.5,1.5
4,19790105,6.0,120.0,29.0,5.6,-0.8,-1.4,0,102250.0,1.0,-0.5,1.5,6.9

#### one-hot encoding

In [20]:
df_encoded = pd.get_dummies(df['cloud_cover'], prefix='cloud_cover')

df = pd.concat([df, df_encoded], axis=1)

df.drop('cloud_cover', axis=1, inplace=True)

In [21]:
df.head()

,date,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth,next_1_day_mean_temp,...,next_3_day_mean_temp,cloud_cover_0.0,cloud_cover_1.0,cloud_cover_2.0,cloud_cover_3.0,cloud_cover_4.0,cloud_cover_5.0,cloud_cover_6.0,cloud_cover_7.0,cloud_cover_8.0
0,19790101,420.0,52.0,2.3,-4.1,-7.5,1,101900.0,1.0,-2.6,...,-2.6,0,0,1,0,0,0,0,0,0
1,19790102,102.0,27.0,1.6,-2.6,-7.5,0,102530.0,1.0,-2.8,...,-0.8,0,0,0,0,0,0,1,0,0
2,19790103,0.0,13.0,1.3,-2.8,-7.2,0,102050.0,1.0,-2.6,...,-0.5,0,0,0,0,0,1,0,0,0
3,19790104,0.0,13.0,-0.3,-2.6,-6.5,0,100840.0,1.0,-0.8,...,1.5,0,0,0,0,0,0,0,0,1
4,19790105,120.0,29.0,5.6,-0.8,-1.4,0,102250.0,1.0,-0.5,...,6.9,0,0,0,0,0,0,1,0,0

In [22]:
df_encoded = pd.get_dummies(df['precipitation'], prefix='precipitation')

df = pd.concat([df, df_encoded], axis=1)

df.drop('precipitation', axis=1, inplace=True)

In [23]:
df.head()

,date,sunshine,global_radiation,max_temp,mean_temp,min_temp,pressure,snow_depth,next_1_day_mean_temp,next_2_day_mean_temp,...,cloud_cover_4.0,cloud_cover_5.0,cloud_cover_6.0,cloud_cover_7.0,cloud_cover_8.0,precipitation_0,precipitation_1,precipitation_2,precipitation_3,precipitation_4
0,19790101,420.0,52.0,2.3,-4.1,-7.5,101900.0,1.0,-2.6,-2.8,...,0,0,0,0,0,0,1,0,0,0
1,19790102,102.0,27.0,1.6,-2.6,-7.5,102530.0,1.0,-2.8,-2.6,...,0,0,1,0,0,1,0,0,0,0
2,19790103,0.0,13.0,1.3,-2.8,-7.2,102050.0,1.0,-2.6,-0.8,...,0,1,0,0,0,1,0,0,0,0
3,19790104,0.0,13.0,-0.3,-2.6,-6.5,100840.0,1.0,-0.8,-0.5,...,0,0,0,0,1,1,0,0,0,0
4,19790105,120.0,29.0,5.6,-0.8,-1.4,102250.0,1.0,-0.5,1.5,...,0,0,1,0,0,1,0,0,0,0

In [24]:
df_encoded = pd.get_dummies(df['snow_depth'], prefix='snow_depth')

df = pd.concat([df, df_encoded], axis=1)

df.drop('snow_depth', axis=1, inplace=True)

In [25]:
df.head()

,date,sunshine,global_radiation,max_temp,mean_temp,min_temp,pressure,next_1_day_mean_temp,next_2_day_mean_temp,next_3_day_mean_temp,...,cloud_cover_6.0,cloud_cover_7.0,cloud_cover_8.0,precipitation_0,precipitation_1,precipitation_2,precipitation_3,precipitation_4,snow_depth_0.0,snow_depth_1.0
0,19790101,420.0,52.0,2.3,-4.1,-7.5,101900.0,-2.6,-2.8,-2.6,...,0,0,0,0,1,0,0,0,0,1
1,19790102,102.0,27.0,1.6,-2.6,-7.5,102530.0,-2.8,-2.6,-0.8,...,1,0,0,1,0,0,0,0,0,1
2,19790103,0.0,13.0,1.3,-2.8,-7.2,102050.0,-2.6,-0.8,-0.5,...,0,0,0,1,0,0,0,0,0,1
3,19790104,0.0,13.0,-0.3,-2.6,-6.5,100840.0,-0.8,-0.5,1.5,...,0,0,1,1,0,0,0,0,0,1
4,19790105,120.0,29.0,5.6,-0.8,-1.4,102250.0,-0.5,1.5,6.9,...,1,0,0,1,0,0,0,0,0,1

#### delete the date

In [26]:
del df['date']

In [27]:
df.head()

,sunshine,global_radiation,max_temp,mean_temp,min_temp,pressure,next_1_day_mean_temp,next_2_day_mean_temp,next_3_day_mean_temp,cloud_cover_0.0,...,cloud_cover_6.0,cloud_cover_7.0,cloud_cover_8.0,precipitation_0,precipitation_1,precipitation_2,precipitation_3,precipitation_4,snow_depth_0.0,snow_depth_1.0
0,420.0,52.0,2.3,-4.1,-7.5,101900.0,-2.6,-2.8,-2.6,0,...,0,0,0,0,1,0,0,0,0,1
1,102.0,27.0,1.6,-2.6,-7.5,102530.0,-2.8,-2.6,-0.8,0,...,1,0,0,1,0,0,0,0,0,1
2,0.0,13.0,1.3,-2.8,-7.2,102050.0,-2.6,-0.8,-0.5,0,...,0,0,0,1,0,0,0,0,0,1
3,0.0,13.0,-0.3,-2.6,-6.5,100840.0,-0.8,-0.5,1.5,0,...,0,0,1,1,0,0,0,0,0,1
4,120.0,29.0,5.6,-0.8,-1.4,102250.0,-0.5,1.5,6.9,0,...,1,0,0,1,0,0,0,0,0,1

In [28]:
from sklearn.preprocessing import MinMaxScaler

features_to_normalize = ['sunshine', 'global_radiation', 'max_temp', 'mean_temp', 'min_temp', 'pressure']

scaler = MinMaxScaler()


df[features_to_normalize] = scaler.fit_transform(df[features_to_normalize])

In [29]:
df.head()

,sunshine,global_radiation,max_temp,mean_temp,min_temp,pressure,next_1_day_mean_temp,next_2_day_mean_temp,next_3_day_mean_temp,cloud_cover_0.0,...,cloud_cover_6.0,cloud_cover_7.0,cloud_cover_8.0,precipitation_0,precipitation_1,precipitation_2,precipitation_3,precipitation_4,snow_depth_0.0,snow_depth_1.0
0,0.43750,0.111675,0.192744,0.095628,0.126100,0.670429,-2.6,-2.8,-2.6,0,...,0,0,0,0,1,0,0,0,0,1
1,0.10625,0.048223,0.176871,0.136612,0.126100,0.741535,-2.8,-2.6,-0.8,0,...,1,0,0,1,0,0,0,0,0,1
2,0.00000,0.012690,0.170068,0.131148,0.134897,0.687359,-2.6,-0.8,-0.5,0,...,0,0,0,1,0,0,0,0,0,1
3,0.00000,0.012690,0.133787,0.136612,0.155425,0.550790,-0.8,-0.5,1.5,0,...,0,0,1,1,0,0,0,0,0,1
4,0.12500,0.053299,0.267574,0.185792,0.304985,0.709932,-0.5,1.5,6.9,0,...,1,0,0,1,0,0,0,0,0,1

#### check if any INF or NAN

In [30]:
inf_check = np.isinf(df)
print(inf_check.any())

sunshine                False
global_radiation        False
max_temp                False
mean_temp               False
min_temp                False
pressure                False
next_1_day_mean_temp    False
next_2_day_mean_temp    False
next_3_day_mean_temp    False
cloud_cover_0.0         False
cloud_cover_1.0         False
cloud_cover_2.0         False
cloud_cover_3.0         False
cloud_cover_4.0         False
cloud_cover_5.0         False
cloud_cover_6.0         False
cloud_cover_7.0         False
cloud_cover_8.0         False
precipitation_0         False
precipitation_1         False
precipitation_2         False
precipitation_3         False
precipitation_4         False
snow_depth_0.0          False
snow_depth_1.0          False
dtype: bool

In [31]:
inf_check = np.isnan(df)
print(inf_check.any())

sunshine                False
global_radiation        False
max_temp                False
mean_temp               False
min_temp                False
pressure                False
next_1_day_mean_temp    False
next_2_day_mean_temp    False
next_3_day_mean_temp    False
cloud_cover_0.0         False
cloud_cover_1.0         False
cloud_cover_2.0         False
cloud_cover_3.0         False
cloud_cover_4.0         False
cloud_cover_5.0         False
cloud_cover_6.0         False
cloud_cover_7.0         False
cloud_cover_8.0         False
precipitation_0         False
precipitation_1         False
precipitation_2         False
precipitation_3         False
precipitation_4         False
snow_depth_0.0          False
snow_depth_1.0          False
dtype: bool

In [32]:
from sklearn.model_selection import train_test_split

X = df.drop(['next_1_day_mean_temp','next_2_day_mean_temp','next_3_day_mean_temp'], axis=1)
y = df[['next_1_day_mean_temp', 'next_2_day_mean_temp', 'next_3_day_mean_temp']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [33]:
import torch
import torch.nn as nn
import torch.optim as optim

X_train_tensor = torch.tensor(X_train.values, dtype=torch.float32)
y_train_tensor = torch.tensor(y_train.values, dtype=torch.float32)
X_test_tensor = torch.tensor(X_test.values, dtype=torch.float32)
y_test_tensor = torch.tensor(y_test.values, dtype=torch.float32)

In [51]:
from scipy.stats import pearsonr

# 定义 MLP 模型
class MLP(nn.Module):
    def __init__(self, input_size, hidden_size, output_size):
        super(MLP, self).__init__()
        self.fc1 = nn.Linear(input_size, hidden_size)
        self.relu = nn.ReLU()
        self.fc2 = nn.Linear(hidden_size, output_size)

    def forward(self, x):
        out = self.fc1(x)
        out = self.relu(out)
        out = self.fc2(out)
        return out



# 设置超参数
input_size = X.shape[1]
hidden_size = 2000
output_size = y.shape[1]
learning_rate = 0.001
num_epochs = 100

# 初始化模型和优化器
model = MLP(input_size, hidden_size, output_size)
criterion = nn.MSELoss()
optimizer = optim.SGD(model.parameters(), lr=learning_rate)

# 训练模型
for epoch in range(num_epochs):
    # 前向传播
    outputs = model(X_train_tensor)
    loss = criterion(outputs, y_train_tensor)

    # 反向传播和优化
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

    if (epoch+1) % 10 == 0:
        print(f'Epoch [{epoch+1}/{num_epochs}], Loss: {loss.item():.4f}')
        
        
with torch.no_grad():
    predictions = model(X_test_tensor)
    
    test_mse = criterion(predictions, y_test_tensor)
    
    test_mae = nn.L1Loss()(predictions, y_test_tensor)
    
    test_rmse = torch.sqrt(test_mse)
    
    absolute_errors = torch.abs(predictions - y_test_tensor)
    test_mdae = torch.median(absolute_errors)
    
    percentage_errors = absolute_errors / y_test_tensor
    percentage_errors = percentage_errors[~torch.isinf(percentage_errors)]
    test_mape = torch.mean(percentage_errors) * 100
    
    squared_percentage_errors = torch.pow(percentage_errors * 100, 2)
    squared_percentage_errors = squared_percentage_errors[~torch.isinf(squared_percentage_errors)]
    mean_squared_percentage_error = torch.mean(squared_percentage_errors)
    test_rmspe = torch.sqrt(mean_squared_percentage_error)
    
    pearson_coefficient, _ = pearsonr(predictions.numpy().flatten(), y_test_tensor.numpy().flatten())
    
    
    def index_of_agreement(predictions, observations):
        numerator = torch.sum(torch.square(observations - predictions))
        denominator = torch.sum(torch.square(torch.abs(predictions - torch.mean(observations)) + torch.abs(observations - torch.mean(observations))))
        ioa = 1 - (numerator / denominator)
        return ioa
    
    ioa = index_of_agreement(predictions, y_test_tensor)


    

    

print(f'MSE: {test_mse.item():.4f}')
print(f'RMSE: {test_rmse.item():.4f}')
print(f'MAE: {test_mae.item():.4f}')
print(f'MdAE: {test_mdae.item():.4f}')
print(f'MAPE: {test_mape.item():.4f}')
print(f'RMSPE: {test_rmspe.item():.4f}')
print(f'Pearson Correlation Coefficient: {pearson_coefficient:.4f}')
print(f'Index of Agreement (IoA): {ioa:.4f}')

Epoch [10/100], Loss: 86.2207
Epoch [20/100], Loss: 46.3376
Epoch [30/100], Loss: 30.6404
Epoch [40/100], Loss: 25.2449
Epoch [50/100], Loss: 23.4650
Epoch [60/100], Loss: 22.7794
Epoch [70/100], Loss: 22.3984
Epoch [80/100], Loss: 22.1008
Epoch [90/100], Loss: 21.8280
Epoch [100/100], Loss: 21.5652
MSE: 20.8933
RMSE: 4.5709
MAE: 3.7827
MdAE: 3.4513
MAPE: 57.6797
RMSPE: 419.0173
Pearson Correlation Coefficient: 0.7958
Index of Agreement (IoA): 0.5729