In [218]:
import pandas as pd
import numpy as np

In [219]:
df = pd.read_csv("D:/One Drive/OneDrive - University of Bristol/Bristol Data Science/Project/Data/Weather/cleaned_data_weather.csv")

In [220]:
df.head

<bound method NDFrame.head of            date  cloud_cover  sunshine  global_radiation  max_temp  mean_temp  \
0      19790101          2.0       7.0              52.0       2.3       -4.1
1      19790102          6.0       1.7              27.0       1.6       -2.6
2      19790103          5.0       0.0              13.0       1.3       -2.8
3      19790104          8.0       0.0              13.0      -0.3       -2.6
4      19790105          6.0       2.0              29.0       5.6       -0.8
...         ...          ...       ...               ...       ...        ...
15076  20201224          2.0       1.3              32.0       6.1        6.1
15077  20201225          6.0       3.5              40.0       4.6        2.6
15078  20201226          5.8       2.1              38.0      10.0        4.9
15079  20201230          6.0       0.4              22.0       5.6        2.7
15080  20201231          7.0       1.3              34.0       1.5       -0.8

       min_temp  precipitation  pressure  snow_depth
0          -7.5            0.4  101900.0         9.0
1          -7.5            0.0  102530.0         8.0
2          -7.2            0.0  102050.0         4.0
3          -6.5            0.0  100840.0         2.0
4          -1.4            0.0  102250.0         1.0
...         ...            ...       ...         ...
15076       6.1            0.0  101830.0         0.0
15077       0.7            0.0  103100.0         0.0
15078      -0.1           12.0  101960.0         0.0
15079      -0.1            0.0  100200.0         0.0
15080      -3.1            0.0  100500.0         0.0

[15081 rows x 10 columns]>

In [221]:
df_original_data = df

In [222]:
df['next_1_day_mean_temp'] = df_original_data['mean_temp'].shift(-1)
df['next_2_day_mean_temp'] = df_original_data['mean_temp'].shift(-2)
df['next_3_day_mean_temp'] = df_original_data['mean_temp'].shift(-3)

In [223]:
df.dropna(inplace=True)

In [224]:
df.head()

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth,next_1_day_mean_temp,next_2_day_mean_temp,next_3_day_mean_temp
0,19790101,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0,-2.6,-2.8,-2.6
1,19790102,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0,-2.8,-2.6,-0.8
2,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0,-2.6,-0.8,-0.5
3,19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0,-0.8,-0.5,1.5
4,19790105,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0,-0.5,1.5,6.9

#### cloud_cover processing

In [225]:
df['cloud_cover'].value_counts()

7.0    3116
6.0    2952
5.0    2292
8.0    1903
4.0    1815
3.0    1148
2.0     860
1.0     603
0.0     375
5.8       2
6.8       2
5.4       2
7.4       2
9.0       2
5.6       1
6.2       1
6.6       1
7.2       1
Name: cloud_cover, dtype: int64

In [226]:
condition = (df['cloud_cover'] % 1 != 0) | (df['cloud_cover'] > 8.0)

# 从DataFrame中去除满足条件的行
df = df[~condition]

In [227]:
df['cloud_cover'].value_counts()

7.0    3116
6.0    2952
5.0    2292
8.0    1903
4.0    1815
3.0    1148
2.0     860
1.0     603
0.0     375
Name: cloud_cover, dtype: int64

#### change the sunshine into hours

In [228]:
df['sunshine'] = df['sunshine'] * 60

C:\Users\Administrator\AppData\Local\Temp\ipykernel_22324\4129770657.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sunshine'] = df['sunshine'] * 60

In [229]:
df.head()

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth,next_1_day_mean_temp,next_2_day_mean_temp,next_3_day_mean_temp
0,19790101,2.0,420.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0,-2.6,-2.8,-2.6
1,19790102,6.0,102.0,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0,-2.8,-2.6,-0.8
2,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0,-2.6,-0.8,-0.5
3,19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0,-0.8,-0.5,1.5
4,19790105,6.0,120.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0,-0.5,1.5,6.9

#### change snow depth into a category value

In [230]:
df['snow_depth'].value_counts()

0.0     14933
1.0        45
2.0        23
4.0        15
3.0        15
5.0         6
6.0         4
7.0         4
8.0         4
10.0        2
0.4         2
12.0        2
11.0        2
9.0         1
18.0        1
13.0        1
15.0        1
16.0        1
22.0        1
0.8         1
Name: snow_depth, dtype: int64

In [231]:
df.loc[df['snow_depth'] > 0, 'snow_depth'] = 1.0

In [232]:
df['snow_depth'].value_counts()

0.0    14933
1.0      131
Name: snow_depth, dtype: int64

#### change the precipitation into category value

In [233]:
df['precipitation'].value_counts()

0.00     7907
0.20     1005
0.40      452
0.10      313
0.60      297
         ...
53.10       1
18.70       1
25.40       1
20.00       1
0.46        1
Name: precipitation, Length: 261, dtype: int64

In [234]:
bins = [-float('inf'), 0.1, 2.5, 10, 50, float('inf')]
labels = [0, 1, 2, 3, 4]

df['precipitation'] = pd.cut(df['precipitation'], bins=bins, labels=labels, right=False)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_22324\1477534085.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['precipitation'] = pd.cut(df['precipitation'], bins=bins, labels=labels, right=False)

In [235]:
df['precipitation'].value_counts()

0    7907
1    4251
2    2335
3     567
4       4
Name: precipitation, dtype: int64

#### everything is ready

In [236]:
df.head()

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth,next_1_day_mean_temp,next_2_day_mean_temp,next_3_day_mean_temp
0,19790101,2.0,420.0,52.0,2.3,-4.1,-7.5,1,101900.0,1.0,-2.6,-2.8,-2.6
1,19790102,6.0,102.0,27.0,1.6,-2.6,-7.5,0,102530.0,1.0,-2.8,-2.6,-0.8
2,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0,102050.0,1.0,-2.6,-0.8,-0.5
3,19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0,100840.0,1.0,-0.8,-0.5,1.5
4,19790105,6.0,120.0,29.0,5.6,-0.8,-1.4,0,102250.0,1.0,-0.5,1.5,6.9

#### one-hot encoding

In [237]:
df_encoded = pd.get_dummies(df['cloud_cover'], prefix='cloud_cover')

df = pd.concat([df, df_encoded], axis=1)

df.drop('cloud_cover', axis=1, inplace=True)

In [238]:
df.head()

,date,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth,next_1_day_mean_temp,...,next_3_day_mean_temp,cloud_cover_0.0,cloud_cover_1.0,cloud_cover_2.0,cloud_cover_3.0,cloud_cover_4.0,cloud_cover_5.0,cloud_cover_6.0,cloud_cover_7.0,cloud_cover_8.0
0,19790101,420.0,52.0,2.3,-4.1,-7.5,1,101900.0,1.0,-2.6,...,-2.6,0,0,1,0,0,0,0,0,0
1,19790102,102.0,27.0,1.6,-2.6,-7.5,0,102530.0,1.0,-2.8,...,-0.8,0,0,0,0,0,0,1,0,0
2,19790103,0.0,13.0,1.3,-2.8,-7.2,0,102050.0,1.0,-2.6,...,-0.5,0,0,0,0,0,1,0,0,0
3,19790104,0.0,13.0,-0.3,-2.6,-6.5,0,100840.0,1.0,-0.8,...,1.5,0,0,0,0,0,0,0,0,1
4,19790105,120.0,29.0,5.6,-0.8,-1.4,0,102250.0,1.0,-0.5,...,6.9,0,0,0,0,0,0,1,0,0

In [239]:
df_encoded = pd.get_dummies(df['precipitation'], prefix='precipitation')

df = pd.concat([df, df_encoded], axis=1)

df.drop('precipitation', axis=1, inplace=True)

In [240]:
df.head()

,date,sunshine,global_radiation,max_temp,mean_temp,min_temp,pressure,snow_depth,next_1_day_mean_temp,next_2_day_mean_temp,...,cloud_cover_4.0,cloud_cover_5.0,cloud_cover_6.0,cloud_cover_7.0,cloud_cover_8.0,precipitation_0,precipitation_1,precipitation_2,precipitation_3,precipitation_4
0,19790101,420.0,52.0,2.3,-4.1,-7.5,101900.0,1.0,-2.6,-2.8,...,0,0,0,0,0,0,1,0,0,0
1,19790102,102.0,27.0,1.6,-2.6,-7.5,102530.0,1.0,-2.8,-2.6,...,0,0,1,0,0,1,0,0,0,0
2,19790103,0.0,13.0,1.3,-2.8,-7.2,102050.0,1.0,-2.6,-0.8,...,0,1,0,0,0,1,0,0,0,0
3,19790104,0.0,13.0,-0.3,-2.6,-6.5,100840.0,1.0,-0.8,-0.5,...,0,0,0,0,1,1,0,0,0,0
4,19790105,120.0,29.0,5.6,-0.8,-1.4,102250.0,1.0,-0.5,1.5,...,0,0,1,0,0,1,0,0,0,0

In [241]:
df_encoded = pd.get_dummies(df['snow_depth'], prefix='snow_depth')

df = pd.concat([df, df_encoded], axis=1)

df.drop('snow_depth', axis=1, inplace=True)

In [242]:
df.head()

,date,sunshine,global_radiation,max_temp,mean_temp,min_temp,pressure,next_1_day_mean_temp,next_2_day_mean_temp,next_3_day_mean_temp,...,cloud_cover_6.0,cloud_cover_7.0,cloud_cover_8.0,precipitation_0,precipitation_1,precipitation_2,precipitation_3,precipitation_4,snow_depth_0.0,snow_depth_1.0
0,19790101,420.0,52.0,2.3,-4.1,-7.5,101900.0,-2.6,-2.8,-2.6,...,0,0,0,0,1,0,0,0,0,1
1,19790102,102.0,27.0,1.6,-2.6,-7.5,102530.0,-2.8,-2.6,-0.8,...,1,0,0,1,0,0,0,0,0,1
2,19790103,0.0,13.0,1.3,-2.8,-7.2,102050.0,-2.6,-0.8,-0.5,...,0,0,0,1,0,0,0,0,0,1
3,19790104,0.0,13.0,-0.3,-2.6,-6.5,100840.0,-0.8,-0.5,1.5,...,0,0,1,1,0,0,0,0,0,1
4,19790105,120.0,29.0,5.6,-0.8,-1.4,102250.0,-0.5,1.5,6.9,...,1,0,0,1,0,0,0,0,0,1

#### delete the date

In [243]:
del df['date']

In [244]:
df.head()

,sunshine,global_radiation,max_temp,mean_temp,min_temp,pressure,next_1_day_mean_temp,next_2_day_mean_temp,next_3_day_mean_temp,cloud_cover_0.0,...,cloud_cover_6.0,cloud_cover_7.0,cloud_cover_8.0,precipitation_0,precipitation_1,precipitation_2,precipitation_3,precipitation_4,snow_depth_0.0,snow_depth_1.0
0,420.0,52.0,2.3,-4.1,-7.5,101900.0,-2.6,-2.8,-2.6,0,...,0,0,0,0,1,0,0,0,0,1
1,102.0,27.0,1.6,-2.6,-7.5,102530.0,-2.8,-2.6,-0.8,0,...,1,0,0,1,0,0,0,0,0,1
2,0.0,13.0,1.3,-2.8,-7.2,102050.0,-2.6,-0.8,-0.5,0,...,0,0,0,1,0,0,0,0,0,1
3,0.0,13.0,-0.3,-2.6,-6.5,100840.0,-0.8,-0.5,1.5,0,...,0,0,1,1,0,0,0,0,0,1
4,120.0,29.0,5.6,-0.8,-1.4,102250.0,-0.5,1.5,6.9,0,...,1,0,0,1,0,0,0,0,0,1

In [245]:
from sklearn.preprocessing import MinMaxScaler

features_to_normalize = ['sunshine', 'global_radiation', 'max_temp', 'mean_temp', 'min_temp', 'pressure']

scaler = MinMaxScaler()


df[features_to_normalize] = scaler.fit_transform(df[features_to_normalize])

In [246]:
df.head()

,sunshine,global_radiation,max_temp,mean_temp,min_temp,pressure,next_1_day_mean_temp,next_2_day_mean_temp,next_3_day_mean_temp,cloud_cover_0.0,...,cloud_cover_6.0,cloud_cover_7.0,cloud_cover_8.0,precipitation_0,precipitation_1,precipitation_2,precipitation_3,precipitation_4,snow_depth_0.0,snow_depth_1.0
0,0.43750,0.107143,0.161538,0.037791,0.044872,0.562738,-2.6,-2.8,-2.6,0,...,0,0,0,0,1,0,0,0,0,1
1,0.10625,0.043367,0.143590,0.081395,0.044872,0.682510,-2.8,-2.6,-0.8,0,...,1,0,0,1,0,0,0,0,0,1
2,0.00000,0.007653,0.135897,0.075581,0.054487,0.591255,-2.6,-0.8,-0.5,0,...,0,0,0,1,0,0,0,0,0,1
3,0.00000,0.007653,0.094872,0.081395,0.076923,0.361217,-0.8,-0.5,1.5,0,...,0,0,1,1,0,0,0,0,0,1
4,0.12500,0.048469,0.246154,0.133721,0.240385,0.629278,-0.5,1.5,6.9,0,...,1,0,0,1,0,0,0,0,0,1

#### check if any INF or NAN

In [247]:
inf_check = np.isinf(df)
print(inf_check.any())

sunshine                False
global_radiation        False
max_temp                False
mean_temp               False
min_temp                False
pressure                False
next_1_day_mean_temp    False
next_2_day_mean_temp    False
next_3_day_mean_temp    False
cloud_cover_0.0         False
cloud_cover_1.0         False
cloud_cover_2.0         False
cloud_cover_3.0         False
cloud_cover_4.0         False
cloud_cover_5.0         False
cloud_cover_6.0         False
cloud_cover_7.0         False
cloud_cover_8.0         False
precipitation_0         False
precipitation_1         False
precipitation_2         False
precipitation_3         False
precipitation_4         False
snow_depth_0.0          False
snow_depth_1.0          False
dtype: bool

In [248]:
inf_check = np.isnan(df)
print(inf_check.any())

sunshine                False
global_radiation        False
max_temp                False
mean_temp               False
min_temp                False
pressure                False
next_1_day_mean_temp    False
next_2_day_mean_temp    False
next_3_day_mean_temp    False
cloud_cover_0.0         False
cloud_cover_1.0         False
cloud_cover_2.0         False
cloud_cover_3.0         False
cloud_cover_4.0         False
cloud_cover_5.0         False
cloud_cover_6.0         False
cloud_cover_7.0         False
cloud_cover_8.0         False
precipitation_0         False
precipitation_1         False
precipitation_2         False
precipitation_3         False
precipitation_4         False
snow_depth_0.0          False
snow_depth_1.0          False
dtype: bool

In [249]:
cols_to_move = ['next_1_day_mean_temp','next_2_day_mean_temp','next_3_day_mean_temp']
new_order = [col for col in df.columns if col not in cols_to_move] + cols_to_move
df = df.reindex(columns=new_order)

In [250]:
X = df.drop(['next_1_day_mean_temp','next_2_day_mean_temp','next_3_day_mean_temp'], axis=1)
y = df[['next_1_day_mean_temp', 'next_2_day_mean_temp', 'next_3_day_mean_temp']]

In [251]:
X.shape

(15064, 22)

In [252]:
# 假设您的 DataFrame 名为 df，形状为 (100, 22)

# 将数据划分为通道
num_channels = 10  # 每个通道包含的行数
num_samples = X.shape[0] - num_channels + 1
channels = []
for i in range(num_samples):
    channel = X.iloc[i:i+num_channels, :]
    channels.append(channel)

# 重新组织形状为 (x, x, x)
x = 10  # 每个通道中的行数
reshaped_X = np.array(channels).reshape(num_samples, x, X.shape[1])

# reshaped_df 的形状为 (num_samples, x, num_channels, num_features)

In [253]:
reshaped_y = y[-num_samples:]

In [254]:
reshaped_X.shape

(15055, 10, 22)

In [255]:
reshaped_y.shape

(15055, 3)

In [256]:
# 转化张量

import torch
import torch.nn as nn

input_data = torch.tensor(reshaped_X, dtype=torch.float32)

reshaped_y = reshaped_y.values
target_data = torch.tensor(reshaped_y, dtype=torch.float32)

In [257]:
import torch
import torch.nn as nn
import torch.optim as optim

data = input_data  # shape: [batch_size, channels, sequence_length].
targets = target_data

In [258]:

# 定义TCN的残差块
class ResidualBlock(nn.Module):
    def __init__(self, in_channels, out_channels, kernel_size, stride, padding):
        super(ResidualBlock, self).__init__()
        self.conv1 = nn.Conv1d(in_channels, out_channels, kernel_size, stride=stride, padding=padding)
        self.activation1 = nn.ReLU()
        self.conv2 = nn.Conv1d(out_channels, out_channels, kernel_size, stride=stride, padding=padding)
        self.activation2 = nn.ReLU()

    def forward(self, x):
        residual = x
        out = self.conv1(x)
        out = self.activation1(out)
        out = self.conv2(out)
        out = self.activation2(out)
        out = torch.add(out, residual)  # 跳跃连接，将残差与原始输入相加
        return out

# 定义TCN
class TCN(nn.Module):
    def __init__(self, in_channels, num_residual_blocks, residual_channels, kernel_size, stride, padding):
        super(TCN, self).__init__()
        self.conv1 = nn.Conv1d(in_channels, residual_channels, kernel_size, stride=stride, padding=padding)
        self.activation1 = nn.ReLU()
        self.residual_blocks = nn.Sequential(
            *[ResidualBlock(residual_channels, residual_channels, kernel_size, stride, padding) 
              for _ in range(num_residual_blocks)]
        )
        self.fc = nn.Linear(residual_channels, 3)  # 回归问题的输出是一个单一值，因此使用1个输出单元

    def forward(self, x):
        #print('begin:', x.shape)
        x = x.permute(0, 2, 1)  # 调整通道维度的顺序
        #print('adjust:', x.shape)
        out = self.conv1(x)
        #print('conv1: ', out.shape)
        out = self.activation1(out)
        #print('activation: ', out.shape)
        out = self.residual_blocks(out)
        #print('residual: ', out.shape)
        out = torch.mean(out, dim=2)  # 对时间维度进行平均池化
        #print('pooling: ', out.shape)
        out = self.fc(out)
        #print('full connect:', out.shape)
        return out

In [259]:
# 定义参数
in_channels = 22  # 输入通道数
num_residual_blocks = 2  # 残差块的数量
residual_channels = 200  # 残差块中卷积层的输出通道数
kernel_size = 3  # 卷积核大小
stride = 1  # 卷积步长
padding = 1  # 卷积填充大小

# 初始化TCN
tcn = TCN(in_channels, num_residual_blocks, residual_channels, kernel_size, stride, padding)

# 定义损失函数和优化器
criterion = nn.MSELoss()
optimizer = optim.Adam(tcn.parameters(), lr=0.0005)

In [260]:
num_epochs = 100
for epoch in range(num_epochs):
    optimizer.zero_grad()
    outputs = tcn(data)
    loss = criterion(outputs, targets)
    loss.backward()
    optimizer.step()

    if epoch % 10 == 0:
        print(f"Epoch {epoch}, Loss: {loss.item():.4f}")

print("Finished Training")

# 在测试集上进行预测

Epoch 0, Loss: 169.3573
Epoch 10, Loss: 84.0461
Epoch 20, Loss: 27.6854
Epoch 30, Loss: 22.7845
Epoch 40, Loss: 19.9006
Epoch 50, Loss: 15.2746
Epoch 60, Loss: 12.6306
Epoch 70, Loss: 10.6041
Epoch 80, Loss: 9.3350
Epoch 90, Loss: 8.6701
Finished Training